// hamburger menu styles
.hamburger-menu
    position: absolute
    left: -100%
    width: 100%
    z-index: 1
    background-color: white
    transition: .4s
    i 
        flex-basis: 20%
    p 
        flex-grow: 1
    div 
        overflow: hidden
        height: 0
        transition: .4s
    .menu
        list-style: none
        li 
            display: flex
            padding: 12px 5% 
            border-bottom: #C1C9D1 solid 1px
        li:hover 
            background-color: #55ccc8
            
.contact-data
    background-color: #c5cdd0
    position: relative
    z-index: -1
    transform: translateY(-100%)
    color: white
    transition: .4s
    
    li
        display: flex
        padding: 12px 5%
// end of hamburger menu styles

// hamburger menu actions on click hamburger icon and contact 

.hamburger-menu.active 
    left: 0
    div.active 
        height: 100%

.contact-data.active
    transform: translateY(0)
    
// end of hamburger menu actions
    
@media (min-width: 768px)
    .hamburger-menu
        width: 50vw

@media (min-width: 1024px)
    .hamburger-menu.active
        width: 20vw
        left: 10vw
    
    
    
            
