.blog-content
    background-color: #152840
    color: white
    margin-bottom: 1em
    ul 
        list-style: none
        padding: 10%
        border: 1px solid #3C556F
        li 
            padding: 12px
        li:nth-child(1)
            display: flex
            justify-content: space-between
            color: #56CCC8

.social-media
    background-color: white
    margin-bottom: 1em
    ul
        list-style: none
        li 
            display: flex
            padding: 12px 5%
            i 
                flex-basis: 20%

.facebook
    background-color: #4d6bab

.twitter
    background-color: #4ec6f8
          

.facebook, .twitter
    position: relative
    color: white
    height: 25vh
    margin-bottom: 1em
    i:nth-child(1)
        position: absolute
        top: 8%
        left: 8%
        font-size: 2em
    p:nth-child(2)
        position: absolute
        left: 8%
        bottom: 8%
    p:nth-child(3)
        position: absolute
        bottom: 5%
        left: 52%
    i:nth-child(4), i:nth-child(5)
        position: absolute
        right: 8%
        bottom: 8%

.sign-in, .newsletter
    height: 25vh
    background-color: white
    text-align: center
    padding: 5%
    margin-bottom: 1em
    line-height: 1.7em
    h2, p 
        font-size: .7em
    
    i 
        margin: 5%
        font-size: 1.4em
    
    i:nth-of-type(1)
        color: #4d6bab
    i:nth-of-type(2)
        color: #4ec6f8
    i:nth-of-type(3)
        color: #ec6061
    i:nth-of-type(4)
        color: #248cc9

@media (orientation: landscape)
    .sign-in, .newsletter
        height: 50vh

form 
    display: flex
    font-size: .5em

button
    flex-basis: 13%
    text-transform: uppercase
    padding: .5em
    color: white
    background-color: #ea6060
    border-radius: 10%

input 
    flex-grow: 1
    padding: .5em
    margin-left: 5%

