.blog-content
    background-color: #152840
    color: white
    margin-bottom: 1em
    ul 
        list-style: none
        padding: 10%
        border: 1px solid #3C556F
        li 
            padding: 12px
        li:nth-child(1)
            display: flex
            justify-content: space-between
            color: #56CCC8

.social-media
    background-color: white
    margin-bottom: 1em
    ul
        list-style: none
        padding: 10%
        li 
            display: flex
            padding: 12px 5%
            a 
                color: black
            i 
                flex-basis: 20%

.facebook
    background-color: #4d6bab

.twitter
    background-color: #4ec6f8
          

.facebook, .twitter
    position: relative
    color: white
    height: 25vh
    margin-bottom: 1em 
    
    i:nth-child(1)
        position: absolute
        top: 8%
        left: 8%
        font-size: 2em
    p:nth-child(2)
        position: absolute
        left: 8%
        bottom: 8%
    p:nth-child(3)
        position: absolute
        bottom: 5%
        left: 52%
    
    i:nth-child(4), i:nth-child(5)
        visibility: hidden
        position: absolute
        right: 8%
        bottom: 8%
    
    i.visible
        visibility: visible

.sign-in, .newsletter
    height: 35vh
    background-color: white
    text-align: center
    padding: 5%
    margin-bottom: 1em
    line-height: 1.7em
    p 
        font-size: .7em
    
    i 
        margin: 5%
        font-size: 1.4em
    
    input 
        flex-grow: 1
        padding: .5em
        margin-left: 5%

   
    
    a:nth-of-type(1) 
        color: #4d6bab
    a:nth-of-type(2)
        color: #4ec6f8
    a:nth-of-type(3)
        color: #ec6061
    a:nth-of-type(4)
        color: #248cc9

@media (orientation: landscape)
    .sign-in, .newsletter
        height: 50vh

@media (min-width: 768px)
    .sign-in, .newsletter
        font-size: 1.5em
        i 
            font-size: 2em
    .newsletter
        input 
            font-size: 1.4em


form 
    margin: 5%
    display: flex
    font-size: .5em

button
    flex-basis: 13%
    text-transform: uppercase
    padding: .5em
    color: white
    background-color: #ea6060
    border-radius: 10%

@media (min-width: 900px)
    .blog-content, .social-media, .facebook, .twitter, .sign-in, .newsletter
        // width: 45%
    
    header 
        display: grid
        grid-template-columns: 1fr 1fr
        grid-template-rows: 6
        grid-template-areas: "blog-content social-media" "blog-content facebook" "blog-content twitter" "blog-content sign-in" "newsletter newsletter"
        column-gap: 2%

    .blog-content
        grid-area: blog-content
    .social-media
        grid-area: social-media
    .facebook
        grid-area: facebook
    .twitter
        grid-area: twitter
    .sign-in
        grid-area: sign-in
        align-self: end
        font-size: 1.5em
        i 
            font-size: 1.5em
            
    .newsletter
        font-size: 1.5em
        grid-area: newsletter
        


   

    
       
    


