.slider
    position: relative
    width: 100vw
    padding: 5%
    max-width: 1168px
    height: 50vh
    background: url("../img/slide1.jpg") no-repeat center
    background-size: cover
    background-position: center
    margin-bottom: 1em
    color: white
    h1 
        margin-bottom: 1em
    button, p
        margin-bottom: 2em
    button 
        background-color: rgba(0, 0, 0, 0)
    p 
        font-size: .7em
        width: 90%

    
        
        
        
