.slider
    position: relative
    width: 100vw
    padding: 5% 10%
    max-width: 1168px
    height: 50vh
    background: url("../img/slide2.jpg") no-repeat center
    background-size: cover
    background-position: center
    margin-bottom: 1em
    color: white
    i 
        position: absolute
        top: 50%
        transition: .5s
        font-size: 3em
        opacity: .5
        transform: translateY(-50%)
    i.forward 
        right: 0
    i.backword
        left: 0
    h1 
        margin-bottom: .5em
        font-size: .7em
    button, p
        margin-bottom: 1em
    button 
        background-color: rgba(0, 0, 0, 0)

    p 
        font-size: .5em
        width: 90%
        line-height: 1.5em

    div 
        position: absolute
        bottom: 0
        left: 50%
        transform: translateX(-50%)
        display: flex
        justify-content: space-evenly
        align-items: center
        width: 4em
        height: 1.4em
    
    span 
        width: .7em
        height: .7em
        border: 1px solid white
        border-radius: 50%
        transition: .4s

    span.active 
        background-color: white

@media (min-width: 768px)
    .slider
        h1 
            font-size: 1.2em
            margin-bottom: 1em
        button, p 
            margin-bottom: 2em
        p 
            font-size: .9em
        i 
            opacity: .2
        i:hover 
            cursor: pointer
            opacity: .8
            background-color: rgba(0, 0, 0, .6)

        span:hover
            cursor: pointer


    


    
        
        
        
