*
    margin: 0
    padding: 0
    box-sizing: border-box

body 
    width: 100vw
    overflow-x: hidden

i:hover
    cursor: pointer

.wrapper
    width: 100%
    max-width: 1168px
    background-color: #4C5F7B
    font-size: 24px

@import "_mixins.sass"
@import "_menu.sass"
@import "_hamburgerMenu.sass"
@import "_header.sass"
@import "_slider.sass"


