@import "_mixins.sass"
@import "_menu.sass"
@import "_hamburgerMenu.sass"
@import "_header.sass"
@import "_slider.sass"

*
    margin: 0
    padding: 0

body 
    width: 100vw
    overflow-x: hidden

.wrapper
    width: 100%
    max-width: 1168px
    background-color: #4C5F7B
    font-size: 16px